<!DOCTYPE html>
<HTML>
    <Head>
        {% block head%}
        <!--<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
        <title>{% block title %}{%endblock%}</title>
        {% endblock %}
    </Head>
    <body>
    <div id="header">{%block header%}{%endblock%}</div>
    <div id="content">{%block content%}{%endblock%}</div>
    <div id="footer">{%block footer%}{%endblock%}</div>
    </body>

</HTML>