{% extends "base.html"%}
{%block title%}PalCal{%endblock%}
{%block head%}
    {{super()}}
    <style type="text/css">
        .important{color: red}
        table {
          table-layout: fixed;
          width: 100%;

        }


        th {
           background-color: #423e3e;
           color: white;

        }
        td {
             height: 10px;
             text-align: center;
             position: relative;
             border-bottom: 1px solid #ddd;
        }
        sub {
            position: inherit;
            padding-right: 10px;
            right: -30px;
            color: #f02b2b;
        }
        body{
            background-color: #ffffff;
            font-family: 'Kanit', sans-serif;
        }
        .container{
            width: 95%;
            margin: 10px auto;
        }
        .calendar-base {
            width: 70%;
            background-color: white;
            position: relative;
            color: black;
            font-weight: bold;
        }
        .calendar-right {
            width: 45%;
            height: 542px;
            border-radius: 0px 20px 20px 0px;
            background-color: #f02b2b;
            position: relative;
            bottom: 544px;
            left: 100%;
            color: white
            font-weight: bold;
        }
        .day {
            color: white;
            position: relative;
            font-size: 120px;
            text-align: center;
            font-weight: 800;
        }
        .dayname{
            color: white;
            position: relative;
            font-size: 25px;
            text-align: center;
            font-weight: 500;
        }
        .create-element{
             text-align: center;
        }

     </style>
    <script type="text/javascript" src="{{url_for('static',filename='homeJS.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        window.onload = function pageLoad(){
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var x = new Date();
            var cYear = x.getFullYear().toString();
            var cMonth = (((x.getMonth()+1)<10) ? '0'+(x.getMonth()+1).toString() : x.getMonth()+1) ;
            document.getElementById("currentmonth").innerHTML = months[x.getMonth()];
            document.getElementById("currentmonth").value = cYear.concat(cMonth);

            x.setMonth(x.getMonth()+1);
            var nYear =x.getFullYear().toString();
            var nMonth = (((x.getMonth()+1)<10) ? '0'+(x.getMonth()+1).toString() : x.getMonth()+1) ;
            document.getElementById("nextmonth").innerHTML = months[x.getMonth()];
            document.getElementById("nextmonth").value = nYear.concat(nMonth);
            x.setMonth(x.getMonth()-2);
            var pYear =x.getFullYear().toString();
            var pMonth = ((x.getMonth()+1<10) ? '0'+(x.getMonth()+1).toString() : x.getMonth()+1) ;
            document.getElementById("prevmonth").innerHTML = months[x.getMonth()];
            document.getElementById("prevmonth").value = pYear.concat(pMonth);

            var daysList = {{currmon | safe}};
            localStorage.setItem("token", {{token | safe}});
            loadDate(daysList);

        }


        function refreshMonth(id,s){
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var this_date = new Date(document.getElementById(id).value.substring(0,4),document.getElementById(id).value.substring(4,6));
            var passdate = document.getElementById(id).value;
            if(s=='m'){

                this_date.setMonth(this_date.getMonth()-2);
                var pYear =this_date.getFullYear().toString();
                var pMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("prevmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("prevmonth").value = pYear.concat(pMonth);


                this_date.setMonth(this_date.getMonth()+1);
                var cYear =this_date.getFullYear().toString();
                var cMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("currentmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("currentmonth").value = cYear.concat(cMonth);

                this_date.setMonth(this_date.getMonth()+1);
                var nYear =this_date.getFullYear().toString();
                var nMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("nextmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("nextmonth").value = nYear.concat(nMonth);
            }
            else if(s=='n'){

                this_date.setMonth(this_date.getMonth()-2);
                var pYear =this_date.getFullYear().toString();
                var pMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("prevmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("prevmonth").value = pYear.concat(pMonth);


                this_date.setMonth(this_date.getMonth()+1);
                var cYear =this_date.getFullYear().toString();
                var cMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("currentmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("currentmonth").value = cYear.concat(cMonth);

                this_date.setMonth(this_date.getMonth()+1);
                var nYear =this_date.getFullYear().toString();
                var nMonth = (((this_date.getMonth()+1)<10) ? '0'+(this_date.getMonth()+1).toString() : this_date.getMonth()+1) ;
                document.getElementById("nextmonth").innerHTML = months[this_date.getMonth()];
                document.getElementById("nextmonth").value = nYear.concat(nMonth);

            }

            $.ajax({
                    type: "GET",
                    url: "/authenticate",
                    data: "",
                    headers: {
                                    'x-access-tokens': localStorage.token
                            },
                    success: function(data){
                         if(data.Auth_Status=="5001"){
                            alert('Token Expired, Login Again');
                            window.location.href = "/";
                         }
                         else if(data.Auth_Status=="5002"){
                            alert('Token Invalid, Login Again');
                            window.location.href = "/";
                         }
                         else{
                         $.ajax({
                            type: "GET",
                            url: "/month_update",
                            data: "passdate="+passdate,
                            success: function(data){
                                loadDate(data.currmon);
                            }
                           });
                           }
                    }
            });

            <!--$.ajax({-->
                    <!--type: "GET",-->
                    <!--url: "/month_update",-->
                    <!--data: "passdate="+passdate,-->
                    <!--success: function(data){-->
                         <!--loadDate(data.currmon);-->
                    <!--}-->
            <!--});-->
        }

    </script>
{%endblock%}
{%block header%}
<h3>PalCal - Your Backup Mind</h3>
{%endblock%}

{%block content%}


<div class="container">

    <div class="calendar-base">
        <div class="year"> <b>2020</b>
        </div>
        <div class="months" id="navi" style="display: flex; justify-content: space-around;">

            <div>
                <a id="prevmonth" onClick="refreshMonth(this.id,'m');">Previous month</a>
            </div>
            <div>
                <b><a id="currentmonth" onClick="refreshMonth(this.id,'c');"></a></b>
            </div>
            <div>
                <a id="nextmonth" onClick="refreshMonth(this.id,'n');">Next month</a>
            </div>

        </div>
        <div class="num-dates" id="calender">

        </div>
         <div class="calendar-right">
        <div class="num-date">
            <div class="day">18</div>
            <div class="dayname">Wednesday</div>
        </div>
        <div class="current-events">

        </div>
        <div class="current-expense">

        </div>
        <div class="create-element">
            Add Expense | Add Event
        </div>

    </div>
    </div>

</div>

{%endblock%}

{%block footer%}
<h6>@PalCal</h6>
{%endblock%}