{% extends "base.html"%}
{%block title%}PalCal-Login{%endblock%}
{%block head%}
    {{super()}}

{%endblock%}
{%block header%}
<h3>PalCal - Your Backup Mind</h3>
{%endblock%}

{%block content%}
<form action="/login" method="post">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" value="test" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" value="test" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br>
    <p>{{display_msg | safe}}</p>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

{%endblock%}

{%block footer%}
<h6>@PalCal</h6>
{%endblock%}